@media(max-width:420px) {
    .section1_1_text{
        width: 250px;
      }
      .section1_1_3h{
    margin-left: -300px;

      }
      .section1_1_button{
        margin-top: -30px;
    margin-left: 60px;
    }
    .section3_1{
        width: 380px;
    }
    .section6_h_1{
        margin-left: -700px;
    }
    .section6_div_1,
    .section6_div_2,
    .s6_div_2 {
        width: 390px;
    }
    .section3_1_img3{
        width: 350px;
    }
    .section6_button_1{
        margin-left: 20px;
    }
    .section2_3{
        width: 400px;
    }
    .maps{
        width:inherit ;
        margin-left: -35px;
    }
    .NAME{
        width: 120px;
    }
    .section1_email_3{
        width: 120px;
    }
    .section1_figcaption3{
width: 340px;
padding: 5px 6px;
margin-left: -2px;
  }
  .form_div{
gap: 10px;
margin-top: 20px;
margin-bottom: 16px;
  }
.section1_textarea_3{
width: 200px;
}
.footer_ul{
    width: 300px;
}
.index_footer{
    width: 360px;
 }
} 
@media (max-width:330px) {
    .section1_1{
        height: 750px;
    }
    .section1_1_text{
        width: 200px;
      }
      .section1_1_3h{
    margin-left: -400px;
    font-size: 20px;

      }
      .section1_1_button{
        margin-top: -190px;
    margin-left: 60px;
    }
    .section3_1{
        width: 300px;
    }
    .section6_h_1{
        margin-left: -900px;
    }
    .section6_div_1,
    .section6_div_2,
    .s6_div_2 {
        width: 300px;
    }
    .section3_1_img3{
        width: 280px;
    }
    .section6_button_1{
        margin-left: 2px;
    }
    .section2_3{
        width: 300px;
    }
    .maps{
        width:inherit ;
        margin-left: -35px;
    }
    .NAME{
        width: 80px;
    }
    .section1_email_3{
        width: 80px;
    }
    .section1_figcaption3{
width: 270px;
padding: 5px 6px;
margin-left: -2px;
  }
  .form_div{
gap: 10px;
margin-top: 20px;
margin-bottom: 16px;
  }
.section1_textarea_3{
width: 50px;
}
.footer_ul{
    width: 250px;
}
.index_footer{
   width: 300px;
}


}











